.summaryCard {
  @apply flex items-center p-4 w-full bg-white rounded-10 space-x-7 shadow-xl hover:transition-transform hover:-translate-y-1 delay-75
}
.wrapperCard {
  @apply mt-3 grid grid-cols-1 md:flex md:space-x-4;
}
.wrapperGrafik {
  @apply w-full h-72 bg-white bg-opacity-10 mt-3 rounded-lg
}
.table {
  @apply p-4 mt-4 bg-white opacity-100 text-primary-2 rounded-10;
}

/* Skeleton */
.header {
  @apply bg-white bg-opacity-20 rounded-10 grid gap-4 px-4 py-3;
}

.row {
  @apply grid gap-4 p-4;
}
/* Skeleton */