.form {
  @apply grid grid-cols-1 sm:grid-cols-4 gap-5;
}

.groupField {
  @apply flex flex-col;
}

.groupField > label {
  @apply text-sm font-semibold mb-2;
}

.groupField input {
  @apply h-12 bg-white bg-opacity-20 p-2 rounded-10 text-sm font-medium;
}

.groupField > span {
  @apply text-secondary-2 text-xs;
}

.reset {
  @apply rounded-10 py-1 text-secondary-2 border-2 border-secondary-2 px-2 mr-4;
}

.submit {
  @apply rounded-10 py-1 text-base text-primary-3 bg-secondary-2 px-2  disabled:bg-secondary-1 disabled:text-secondary-3;
}