.sections {
  @apply flex-grow bg-primary-1 min-h-screen flex justify-center items-center text-white;
}

.sections::before {
  content: '';
  @apply absolute top-0 left-0 bottom-0 right-0 bg-no-repeat bg-[#F6F7F8];
  /* background-image: url('../../assets/images/bg-content.jpg'); */
  /* background-size: 100% auto; */
}

.sections > * {
  position: relative;
}

.container {
  @apply  bg-white rounded-10 p-4 mx-4 shadow-lg;
}

.logo {
  @apply bg-white bg-opacity-10 rounded-full grid place-items-center w-fit h-fit;
}

.logo img {
  @apply transform scale-75;
}

.title {
  @apply text-[#091D60] mt-2 text-2xl font-semibold ;
}

/* .subtitle {
  @apply mb-4 text-sm font-medium opacity-40;
} */
/* 
.dontHaveAccount {
  @apply mt-4 text-xs font-semibold text-center;
} */

.dontHaveAccount span {
  @apply text-secondary-2;
}