.inputGruop {
  @apply flex justify-between  bg-transparent py-2 mb-3 w-full max-w-full border-black border-b;
}

.inputGruop label, .inputGruop input {
  @apply block;
}

.inputGruop label {
  @apply font-medium text-sm mb-2 text-[#091D60];
}

.inputGruop input {
  @apply bg-transparent focus:outline-none font-semibold w-full text-[#091D60];
}

.inputGruop img {
  @apply place-self-start transform scale-90 flex-shrink-0;
}

/* .forgetPassword {
  @apply text-secondary-2 text-xs text-right mb-3;
} */

.submit {
  @apply mt-2 text-sm text-white py-2 bg-[#1877F2] w-full h-16 rounded-10 font-semibold transition-colors delay-100  disabled:bg-secondary-1 disabled:bg-opacity-70;
}