.form {
  @apply grid gap-3;
}

.groupField {
  @apply grid;
}

.groupField > label {
  @apply text-[#091D60] text-sm font-semibold;
}

.groupField input {
  @apply h-12 bg-transparent outline-none text-sm text-[#091D60] font-medium;
}

.groupField > span {
  @apply text-secondary-2 text-xs;
}

.reset {
  @apply w-full rounded-10 p-2 bg-[#CCCCCC] text-white ;
}

.submit {
  @apply w-full rounded-10 p-2 text-base text-white bg-[#1877F2] disabled:bg-secondary-1 disabled:text-white;
}