.root {
  @apply max-w-lg p-4 mx-auto text-center rounded-md;
}

.root > p {
  @apply -mb-16 text-xl font-semibold text-white;
}

.root > img {
  @apply -mb-8;
}

.outBar {
  @apply h-4 bg-opacity-50 rounded-full bg-secondary-2;
}

.bar {
  @apply relative w-24 h-4 rounded-full bg-secondary-2;
  animation: loading 1s infinite alternate linear;
}

@keyframes loading {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(400%);
  }
}
