.formFileUpload {
 @apply relative h-64 w-[28rem] max-w-full text-center ;
}
.inputFileUpload {
  display: none
}
.drag {
  @apply flex h-full justify-center items-center border-2 
  rounded-2xl border-dashed border-[#cbd5e1] bg-[#f8fafc];
}
.dragActive {
  @apply flex h-full justify-center items-center border-2 
  rounded-2xl border-dashed border-[#cbd5e1] bg-[#ffffff];
}
.uploadButton {
  @apply  w-fit h-5 flex justify-center p-4 items-center 
  text-base border-none bg-[#0957F9] cursor-pointer rounded-10
}

.dragFileElement {
  @apply absolute w-full h-full rounded-2xl top-0 right-0 bottom-0 left-0;
}