.card {
  @apply relative bg-white bg-opacity-10 items-center font-semibold;
  line-height: 2.5rem;
  height: 2.5rem;
  display: inline-flex;
  margin-right: 1.5rem;
  overflow-y: clip;
}
.card::before {
  @apply absolute;
  content: '';
  background-image: linear-gradient(45deg, transparent 50%, rgba(255,255,255,0.1) 50%);
  transform: translate(-50%) rotate(45deg);
  top: 0;
  left: 100%;
  height: 2.5rem;
  width: 2.5rem;
  border-top-right-radius: 5px;
}
.card > * {
  @apply relative;
}

.card span, .card img {
  @apply pl-2;
}