.container {
  @apply w-full flex min-h-screen;
}

.main {
  @apply flex-grow text-white bg-primary-1 relative p-4;
}

.main::before {
  content: '';
  @apply absolute top-0 left-0 bottom-0 right-0 opacity-100 bg-base;
  /* background-image: url('../../assets/images/bg-content.jpg'); */
  /* background-repeat: no-repeat; */
  background-size: 100% auto;
  /* opacity: 0.2; */
}

.main > * {
  position: relative;
}