.form {
  @apply mt-4 space-y-4;
}

.groupField {
  @apply flex flex-col w-full;
}

.groupField > label {
  @apply w-full text-sm font-semibold mb-2;
}

.groupField input {
  @apply h-12 bg-white bg-opacity-20 p-2 rounded-10 text-sm font-medium;
}

.groupField > span {
  @apply text-secondary-2 text-xs;
}