.iconDate {
  @apply absolute top-0 right-0 h-full p-2 grid place-content-center;
}

.iconDate img {
  max-width: 100%;
  max-height: 100%;
}

.checkboxAuto {
  @apply absolute top-0 right-0 h-full p-2 bg-white bg-opacity-20 rounded-r-10 flex justify-center items-center;
}

.iconField {
  @apply absolute top-0 left-0 h-full flex justify-center items-center px-2 font-semibold text-lg;
}
