.header {
  @apply  h-[70px] bg-base flex justify-between items-center px-4;
}

.header > img {
  width: 25px;
}

.profile {
  @apply flex items-center bg-white rounded-10;
}

.profile > div:first-child {
  @apply flex justify-center items-center bg-white overflow-hidden rounded-full;
  width: 48px;
  height: 48px;
}
.profile > div:first-child > img {
  max-width: 100%;
  max-height: 100%;
}

.floating {
  @apply absolute bg-primary-1 bg-opacity-10 right-0 top-[2rem] px-4 py-2 z-10 mt-1 rounded-5 text-red;
}