.wrapper {
  @apply text-white w-[230px] flex-shrink-0 relative;
  transition: width 0.3s ease-in-out;
}

.wrapper.hide {
  width: 0px;
}

.wrapper.mobile {
  width: 0px;
}

.wrapper.mobile::before {
  @apply z-10 w-screen h-full absolute top-0 left-0;
  content: '';
}

.wrapper.mobile.hide::before {
  width: 0px;
}

.wrapper > div {
  @apply absolute bg-white top-0 left-0 z-10 w-[230px] h-full overflow-auto;
  transition: left 0.3s ease-in-out;
}

.wrapper.hide > div {
  left: -230px
}

.menuIcon {
  @apply absolute right-0 mr-4;
  width: 25px;
}

.title {
  @apply text-[#091D60] text-2xl h-[96px] flex justify-center items-center;
}

.nav {
  @apply font-medium text-secondary-1;
  margin-left: 50px;
}

.nav > div, .nav li {
  @apply py-3;
}

.nav ul {
  @apply text-base font-semibold;
}
