.form {
  @apply  mt-4 space-y-4;
}

.groupField {
  @apply flex px-3 justify-between items-center  w-full text-white;
}

.groupField > label {
  @apply w-fit text-[#091D60] text-sm font-semibold mb-2;
}

.groupField input {
  @apply h-12 bg-primary-2 bg-opacity-20 p-2 rounded-10 text-sm font-medium;
}
