@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/poppins/Poppins-Regular.ttf');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/poppins/Poppins-Medium.ttf');
    font-weight: 500;
  }

  @font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/poppins/Poppins-SemiBold.ttf');
    font-weight: 600;
  }

  @font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/poppins/Poppins-Bold.ttf');
    font-weight: 700;
  }

  body {
    @apply box-border flex flex-col h-screen p-0 m-0 font-poppins;
  }

  #root {
    @apply relative flex-1 min-h-0;
  }
}

.word-break {
  word-break: break-word;
}

.ReactModal__Content {
  opacity: 0;
  transition: ease all 0.4s;
  margin-top: -200px;
  margin-bottom: 200px;
}

.ReactModal__Content--after-open{
  opacity: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.ReactModal__Content--before-close{
  opacity: 0;
  margin-top: -200px;
  margin-bottom: 200px;
}
