.form {
  @apply grid grid-cols-1 sm:grid-cols-2 gap-5;
}
.groupField {
  @apply flex flex-col;
}

.groupField > label {
  @apply text-sm font-semibold mb-2;
}

.groupField input {
  @apply h-12 bg-white bg-opacity-20 p-2 rounded-10 text-sm font-medium;
}

.groupField > span {
  @apply text-secondary-2 text-xs;
}
.textArea{
  @apply row-span-2 flex flex-col;
}
.textArea > label {
  @apply text-sm font-semibold mb-2;
}
.textArea textarea {
  @apply h-full;
}



.reset {
  @apply mt-4 px-4 mr-4 rounded-10 py-1 text-secondary-2 border-2 border-secondary-2 ;
}

.submit {
@apply flex justify-center items-center mt-4 w-28 rounded-10 py-1 text-primary-3 bg-secondary-2  disabled:bg-secondary-1 disabled:bg-opacity-40 disabled:text-white;
}
